name: Tagged Release

on:
  push:
   tags: v*

jobs:
  report:
    name: Report
    runs-on: ubuntu-latest
    steps:
    - name: ref
      run: echo ${{ github.ref }}
    - name: event_name
      run: echo ${{ github.event_name }}
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v1
    - uses: actions/setup-go@v1
      with:
        go-version: 1.19
    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
    - name: hub login
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
    - name: deploy
      run: REGISTRY=vultr VERSION=${{ steps.get_version.outputs.VERSION }} make deploy
    - name: Get the version for mm
      id: get_version_mm
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
    - run: |
        echo "{\"text\":\"Vultr CSI : Release https://github.com/vultr/vultr-csi/releases/tag/${{ steps.get_version.outputs.VERSION }} \"}" > mattermost.json
    - uses: mattermost/action-mattermost-notify@master
      env:
        MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
        MATTERMOST_USERNAME: ${{ secrets.MATTERMOST_USERNAME}}
        MATTERMOST_ICON: ${{ secrets.MATTERMOST_ICON }}
